In [2]:
import pandas as pd

In [17]:
# Q1. What's the version of Pandas that you installed?

pd.__version__
#Answer = 2.0.3

'2.0.3'

In [5]:
data = pd.read_excel('laptops.xlsx')

In [6]:
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [18]:
# Q2. How many records are in the dataset?

data.info()
#Answer= 2160

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [15]:
# Q3. How many laptop brands are presented in the dataset?

data.Brand.nunique()
#Answer = 27

27

In [14]:
#Q4. How many columns in the dataset have missing values?

data.isnull().sum()
#Answer = 2

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [16]:
#Q5. What's the maximum final price of Dell notebooks in the dataset?

data[data['Brand'] == 'Dell']['Final Price'].max()
#Answer = 3936

3936.0

In [27]:
# Question 6: 
#Find the median value of Screen column in the dataset.

data.Screen.median()

15.6

In [25]:
#Next, calculate the most frequent value of the same Screen column.

data.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [28]:
#Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#Now, calculate the median value of Screen once again.
#Has it changed?

data.Screen.fillna(0).median()

15.6

In [29]:
#Answer= No

In [30]:
#Question 7
#Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen.

data[data['Brand'] == 'Innjoo'][['RAM','Storage','Screen']]

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [31]:
#Get the underlying NumPy array. Let's call it X.

X = data[data['Brand'] == 'Innjoo'][['RAM','Storage','Screen']].values

In [32]:
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [33]:
import numpy as np

In [34]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XTX = X.T.dot(X)

In [35]:
#Compute the inverse of XTX.

X_inv = np.linalg.inv(XTX)

In [36]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100].

y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [37]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

w = X_inv.dot(X.T).dot(y)

In [40]:
#What's the sum of all the elements of the result?

round(w.sum(),1)
#Answer= 91.3

91.3